<p id="notice"><%= notice %></p>

<h1>Listing Dishes</h1>

<% @courses.each do |course| %>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="3"><%= course.name %></th>
        </tr>
        <tr>
          <th><%= link_to "New #{course.name.chop}", new_dish_path(course_id: course.id) %></th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @course_dishes = @dishes.select {|dish| dish.course_id == course.id} %>
        <% @course_dishes.each do |dish| %>
          <tr>
            <td><%= link_to dish.name, dish %></td>
            <td><%= dish.price %></td>
            <td><%= dish.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
<% end %>
