<p id="notice"><%= notice %></p>

<h1>Restaurant Name</h1>

<div class="container">
  <% @courses.each do |course| %>
    <div class="col-md-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="3"><h2><span class="title"><%= course.name %><%= image_tag image_url("#{course.name.downcase}.jpg"), class: "img" %></span></h2></th>
          </tr>
          <tr>
            <th><h4><span class="label label-success">Name</span></h4></th>
            <th><h4><span class="label label-success">Description</span></h4></th>
            <th><h4><span class="label label-success">Price</span></h4></th>
          </tr>
        </thead>

        <tbody>
          <% @course_dishes = @dishes.select {|dish| dish.course_id == course.id} %>
          <% @course_dishes.each do |dish| %>
            <tr>
              <td><%= dish.name %></td>
              <td><%= dish.description %></td>
              <td><%= "$#{dish.price}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<button class="btn">
  <%= link_to 'Edit Menu', editmenu_dishes_path %>
</button>
